@import '../../assets/styles/base.scss';

.header {
  display: flex;
  padding: 10px 120px;
  z-index: 2;
  position: fixed;
  width: 90%;
  transition: padding 0.5s ease;

  .header-logo {
    img {
      width: 100%;
    }
  }
}

.header-after {
  background-color: $base-white;
  padding: 0px 120px;
  transition: padding 0.5s ease;

}

.header-after-logo {
  img {
    width: 80% !important;
    transition: width 0.5s ease;
  }

}

.header-menu-items {
  margin-left: auto;
  display: flex;

  .menu-items {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px 25px;
    font-size: 24px;
    color: $base-light-black;
    cursor: pointer;
  }

  .menu-items:hover {
    color: $base-dark-purple;
  }
}

.action-buttons {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  margin-left: 70px;
}

.header-login-button {
  border-radius: 24px;
  border: solid 2px $base-dark-purple;
  color: $base-dark-purple;
  padding: 13px 36px;
  width: max-content;
  text-align: center;
  cursor: pointer;
  margin-left: 25px!important;
  cursor: pointer;
margin:auto;
}

.header-login-button:hover {
  background-color: $base-dark-purple;
  color: $base-white;
  font-weight: $font-weight-bold;

}

.header-get-started-button {
  background: transparent linear-gradient(90deg, $base-light-purple 0%, $base-dark-purple 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #00000033;
  border-radius: 24px;
  opacity: 1;
  padding: 15px 36px;
  width: max-content;
  color: white;
  text-align: center;
  margin-left: 25px!important;
  cursor: pointer;
margin:auto;
}

.header-get-started-button:hover {
  background: $base-dark-purple !important;
  color: $base-white;
  font-weight: $font-weight-bold;
}
