$base-dark-purple : #663399;
$base-light-purple : #9F62C9;
$base-whitish: #FCFCFF;
$base-light-whitsh-blue: #fafbfd;
$base-gray: #cccccc;
$base-light-black: #222222;
$base-white: #FFFFFF;
$base-black: #000000;
$base-font-black: #333333;
$base-font-gray: #999999;
$base-light-gray: #F9F9F9;
$base-dark-gray: #707070;
$base-font-dark-gray: #707070;
$base-font-dark-gray-2: #777777;

$font-montserrat: 'Montserrat', sans-serif;
$font-weight-medium: 700;
$font-weight-bold: bold;


$font-size-12: 12px;
$font-size-14: 14px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-30: 30px;
